
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding-left: 8%;
    padding-right: 8%;
}

header div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header h2, header h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 125%;
}

#nav1 ul {
    background: #dbdee0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

#nav1 li {
    width: 12%;
    text-align: center;
}

#nav1 a {
    color: #50a8b7;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 5px 5px;
    font-size: 110%;
    border-radius: 5px;
}


    #nav1 a:hover {
        background: #50a8b7;
        color: white;
        text-decoration: none;
    }

#nav2 {
    display: none;
}

footer {
    background: #dbdee0;
    margin: 0;
    padding: 10px;
    text-align: center;
}

    footer h5 {
        margin: auto;
        font-weight: bold;
    }

@keyframes animate-h2 {
    0% {
        color: white;
    }

    20% {
        color: blue;
    }

    40% {
        color: red;
    }

    60% {
        color: yellow;
    }

    90% {
        color: white;
    }
}

@keyframes animate-phonenumber {
    0% {
        transform: translate(0,0);
    }

    20% {
        transform: translate(0, 1px);
    }

    40% {
        transform: translate(0, 2px);
    }

    60% {
        transform: translate(0, 1px);
    }

    90% {
        transform: translate(0,0);
    }
}

@keyframes animate-phoneicon {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(20deg);
    }

    90% {
        transform: rotate(0deg);
    }
}

header div h2 {
    animation: animate-h2 5s infinite;
}

header div h3 {
    animation: animate-phonenumber 0.5s infinite;
}

#phoneicon {
    animation: animate-phoneicon 1s infinite;
}

@media (max-width: 767px) {
    #nav2 {
        display: block;
        background: #dbdee0;
    }

    #nav1 {
        display: none;
    }

    #nav2 .nav-link {
        color: white;
    }

        #nav2 .nav-link:hover {
            color: #5d6675;
        }
}
